table.show, table.show td, table.show th {
    border: solid 5px lightblue;
    border-collapse: collapse;
}

tr.odd {
    background-color: lightblue;
}

tr.even {
    background-color: lightgreen;
}
